# wix integration
.wix/
wix.config.json

# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables & secrets
.env*
!.env.example
*.pem
*.key

# macOS-specific files
.DS_Store

# editor / IDE folders
.idea/
