# Get Wix client credentials from Headless Settings in your Wix dashboard
WIX_CLOUD_PROVIDER="KUBERNETES"
WIX_CLIENT_ID="<appId>"
WIX_CLIENT_INSTANCE_ID="<instanceId>"
WIX_CLIENT_PUBLIC_KEY="<publicKey>"
WIX_CLIENT_SECRET="<clientSecret>"
